{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
 <p style="color:white";>Home page</p>
  {% endblock %}

{%block footer%}
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">YouTube</h5>
    <p class="card-text">Subscribe to my youtube channel, and press the bell icon for  regular update</p>
    <a href="https://www.youtube.com/channel/UCrnd_bOeSYIQMIdsTynm4lA?view_as=subscriber" class="btn btn-primary">click here</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">INSTAGRAM 1</h5>
    <p class="card-text">follow me on instagram  for more technical and creative contents</p>
    <a href="https://www.instagram.com/ns_tcg/" class="btn btn-primary">nstcg</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">INSTAGRAM 2</h5>
    <p class="card-text">channel customised only for technical projects</p>
    <a href="https://www.instagram.com/digi_tonics/" class="btn btn-primary">digi-tonics</a>
  </div>
</div>

{% endblock%}
