{% extends "base.html" %}
{% block title %}LOGIN PAGE{% endblock %}



{% block content %}
    <style>

	.bar {
	height: 6em;
  	padding-top: 2em;
 	opacity: 0.8;
 	background: black;
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
  	margin-top: 5.0em;
	}
	</style>
	
	<script src='https://code.responsivevoice.org/responsivevoice.js'></script>

	<input onclick="responsiveVoice.speak('{{tospeak}}')" type='button' value='🔊 Play' />
	
<form action="#" autocomplete='off' method="post">
	<p style="color:white";>enter your question:</p>
	<p><input type="text"  name="nm" /></p>
	<p><input type="submit"  value="submit" /></p>
	<p class="bar" style="color:white";><h><b>{{res1}}</b></h></p>
	<p class="bar" style="color:white";><h><b>{{res2}}</b></h></p>
	<a href="https://digi-tonics.blogspot.com/2020/07/instruction-for-nstcg-ai-chatbot.html" class="btn btn-primary">click here for instructions</a>




</form>
<script>
	responsiveVoice.speak('{{tospeak}}')
</script>

{% endblock %}
{%block footer%}<p style="color:white";>copyrights at @ nithinsteven32@gmail.com</p> {% endblock%}